<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SeanRVACode</title>
    <link
      rel="stylesheet"
      href="static/style.css?v.123"
      <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="header_div">
      <h3 id="name_header">
        <a href="templates/index">Sean P | Coding</a>
      </h3>
    </div>
    <div class="banner">This site is under construction. Check back soon!</div>
    <nav class="menu">
      <ul>
        <a href="about">About Sean</a>
        <a href="https://github.com/SeanRVACode">GitHub Profile</a>
      </ul>
    </nav>
    <div class="link-container">
      <!-- <a
        href="https://github.com/SeanRVACode"
        target="_blank"
        class="github-link"
        >Visit My Github!</a
      > -->
    </div>
  </body>
</html>
